# ===== Frontend (React + Vite) =====
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===== Backend (Python) =====
__pycache__/
*.pyc
*.py[codz]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.vscode/
.idea/
data/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# Testing
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Misc
.mypy_cache/
.ruff_cache/
.pytype/
cython_debug/
.abstra/
.streamlit/secrets.toml

tempCodeRunnerFile.py

# Test files
sample*.png
sample*.jpg
output*.png

# Rembg model cache
.u2net/
